name: 'Build bespoke Firedrake Docker container'

on:
  # Check that Docker build succeeds when these files get changed in an open PR
  pull_request:
    paths:
      - '.github/workflows/docker_firedrake-parmmg.yml'
      - 'docker/Dockerfile.firedrake-parmmg'

  # Build and push the Docker container when these files get changed on the main branch
  push:
    branches:
      - main
    paths:
      - '.github/workflows/docker_firedrake-parmmg.yml'
      - 'docker/Dockerfile.firedrake-parmmg'

   # Build and push the Docker container every Saturday at 12AM
  schedule:
    - cron: '0 0 * * 6'

  # Manually trigger the workflow
  workflow_dispatch:

permissions: {}

# Stop the workflow if a new run is requested
concurrency:
  group: 'docker_firedrake-parmmg-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  docker:
    uses: ./.github/workflows/reusable_docker_build.yml
    with:
      dockerfile-repo: 'firedrakeproject/firedrake'
      dockerfile-path: 'docker/Dockerfile.vanilla'
      docker-image-tag: 'ghcr.io/mesh-adaptation/firedrake-parmmg:latest'
