name: 'Build Firedrake Docker container with (par)mmg'

on:
  # Rebuild whenever the parmmg container is (includes weekend schedule)
  workflow_run:
    workflows: ['Build Firedrake Docker container with (par)mmg']
    types:
      - completed

  # Check that Docker build succeeds when these files get changed in an open PR
  pull_request:
    paths:
      - '.github/workflows/docker_firedrake-um2n.yml'
      - 'docker/Dockerfile.firedrake-um2n'

  # Build and push the Docker container when these files get changed on the main branch
  push:
    branches:
      - main
    paths:
      - '.github/workflows/docker_firedrake-um2n.yml'
      - 'docker/Dockerfile.firedrake-um2n'

permissions: {}

# Stop the workflow if a new run is requested
concurrency:
  group: $${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  docker:
    uses: ./.github/workflows/reusable_docker_build.yml
    with:
      # use Dockerfile.vanilla from firedrake to build base container
      dockerfile-path: 'docker/Dockerfile.firedrake-um2n'
      docker-image-tag: 'ghcr.io/mesh-adaptation/firedrake-um2n:latest'
