name: 'Build Firedrake Docker container with (par)mmg'

on:
  # Rebuild whenever the base container is (includes weekend schedule)
  workflow_run:
    workflows: ['Build Firedrake base Docker container with (par)mmg']
    types:
      - completed

  # Check that Docker build succeeds when these files get changed in an open PR
  pull_request:
    paths:
      - '.github/workflows/docker_firedrake-parmmg.yml'
      - 'docker/Dockerfile.firedrake-parmmg'

  # Build and push the Docker container when these files get changed on the main branch
  push:
    branches:
      - main
    paths:
      - '.github/workflows/docker_firedrake-parmmg.yml'
      - 'docker/Dockerfile.firedrake-parmmg'

permissions: {}

# Stop the workflow if a new run is requested
concurrency:
  group: $${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  docker:
    uses: ./.github/workflows/reusable_docker_build.yml
    with:
      # use Dockerfile.vanilla from firedrake to build base container
      dockerfile-path: 'docker/Dockerfile.firedrake-parmmg'
      docker-image-tag: 'ghcr.io/mesh-adaptation/firedrake-parmmg:latest'
