name: GitHub Actions workflow linting

on:
  workflow_call:
  push:
    branches: main
  pull_request:
    paths:
      - '.github/workflows/*.yml'
  workflow_dispatch:

permissions: {}

concurrency:
  group: 'linting-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  zizmor:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: zizmorcore/zizmor-action@e673c3917a1aef3c65c972347ed84ccd013ecda4 # v0.2.0
