name: GitHub Actions workflow Linting

on:
  workflow_call:
  push:
    branches: main
  pull_request:
    paths:
      - '.github/workflows/*.yml'
  workflow_dispatch:

permissions: {}

concurrency:
  group: 'linting-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  # Apply GitHub Actions linter, zizmor
  zizmor:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Run zizmor
        uses: zizmorcore/zizmor-action@e673c3917a1aef3c65c972347ed84ccd013ecda4 # v0.2.0
