name: Publish wiki

on:
  push:
    branches: main
    paths:
      - 'wiki/**'
      - '.github/workflows/publish-wiki.yml'

permissions: {}

concurrency:
  group: 'publish-wiki-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  publish-wiki:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: Andrew-Chen-Wang/github-wiki-action@6448478bd55f1f3f752c93af8ac03207eccc3213  # v5
