name: 'Docker Build and Push'

on:
  workflow_call:
    inputs:
      dockerfile-path:
        description: 'Path to the Dockerfile to be built'
        required: true
        type: string
      docker-image-tag:
        description: 'Tag for the Docker image to push'
        required: true
        type: string

permissions: {}

concurrency:
  group: 'docker_build-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  docker:
    name: 'Build and push Docker container'
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: 'Check out the repo'
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: 'Set up Docker buildx'
        uses: docker/setup-buildx-action@v3

      - name: 'Log into GitHub Container Repository'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          logout: true

      - name: 'Build and Push Docker Container'
        uses: docker/build-push-action@v5
        with:
          push: ${{ github.ref == 'refs/heads/main' }}
          no-cache: true
          file: ${{ inputs.dockerfile-path }}
          tags: ${{ inputs.docker-image-tag }}
