name: 'Docker Build and Push'

on:
  workflow_call:
    inputs:
      dockerfile-repo:
        description: 'Repository containing Dockerfile to be built'
        default: ${{ github.repository }}
        required: false
        type: string
      dockerfile-path:
        description: 'Path to the Dockerfile to be built'
        required: true
        type: string
      docker-image-tag:
        description: 'Tag for the Docker image to push'
        required: true
        type: string
      save-docker-image-artifact:
        description: 'Save built image as artifact under this name'
        required: false
        type: string
      load-docker-image-artifact:
        description: 'Before the build, load this image as artifact'
        required: false
        type: string

permissions: {}

concurrency:
  group: 'docker_build-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  docker:
    name: 'Build and push Docker container'
    runs-on: ubuntu-latest
    timeout-minutes: 90
    permissions:
      pages: write
      id-token: write

    steps:
      - name: 'Check out Dockerfile'
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          repository: ${{ inputs.dockerfile-repo }}
          sparse-checkout: ${{ inputs.dockerfile-path }}
          sparse-checkout-cone-mode: false
          path: .

      - name: 'Retrieve previous image as artifact'
        if: ${{ inputs.load-docker-image-artifact != null }}
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.load-docker-image-artifact }}
          path: images/

      - name: 'Load previously built Docker image'
        if: ${{ inputs.load-docker-image-artifact != null }}
        run: |
          if [[ ! "${{ inputs.load-docker-image-artifact }}" =~ ^firedrake-[a-z-]{1,11}$ ]]; then
            echo "Invalid input for load-docker-image-artifact"
            exit 1
          fi
          docker image load -i "images/${{ inputs.load-docker-image-artifact }}.tar"
          echo "${{ inputs.load-docker-image-artifact }}.tar" > .dockerignore

      - name: 'Set up Docker buildx'
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435  # v3
        with:
          driver: docker

      - name: 'Log into GitHub Container Repository'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          logout: true

      - name: 'Show available images'
        run:
          docker images

      - name: 'Build and Push Docker Container'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83  # v6
        with:
          context: .
          push: ${{ github.ref == 'refs/heads/main' }}
          load: true
          no-cache: true
          file: ${{ inputs.dockerfile-path }}
          tags: ${{ inputs.docker-image-tag }}
          build-args: |
            ARCH=default
            BRANCH=main
            PETSC_EXTRA_ARGS="--download-eigen --download-metis --download-parmetis --download-mmg --download-parmmg --download-ptscotch"

      - name: 'Save Docker image'
        if: ${{ inputs.save-docker-image-artifact != null }}
        run: |
          if [[ ! "${{ inputs.save-docker-image-artifact }}" =~ ^firedrake-[a-z-]{1,11}$ ]]; then
            echo "Invalid input for save-docker-image-artifact"
            exit 1
          fi
          mkdir -p images
          docker image save -o "images/${{ inputs.save-docker-image-artifact }}.tar" ${{ inputs.docker-image-tag }}

      - name: 'Upload saved Docker image as artifact'
        if: ${{ inputs.save-docker-image-artifact != null }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.save-docker-image-artifact }}
          path: images/${{ inputs.save-docker-image-artifact }}.tar
          retention-days: 1
